{% load staticfiles %}
<!--=== Inportance Of SOP ===-->
<div class="container content-md">
    <div class="row">
        <div class="col-md-6 overflow-h">
            <img class="img-responsive wow animated fadeInUp" data-wow-duration="1.5s" src="{% static 'home/assets/img-temp/about/2.jpg' %}" alt="">
        </div>
        <div class="col-md-6 md-margin-bottom-40">
            <h2 class="title-v2">Importance of a Purpose Statement in Research</h2>
            <p>No matter what subject you are studying, serious research projects and papers require a statement of purpose.
            <br>A statement of purpose explains to the reader what the goal of the study is, as well as what hypothesis will be tested and what types of studies or literature will be referenced. Without the statement of purpose, the reader may become lost in technical terms and data, or he may skip reading the study if he does not understand what its significance will be.</p>
            <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>

        </div>

    </div>
</div>
<!--=== End Inportance Of SOP. ===-->