{% load staticfiles %}
<!-- News v3 gray -->
<div class="headline-center margin-bottom-60 news-heading">
    <h2>Latest News</h2>
    <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
        Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
</div>
<div class="container content-md">
    <div class="row">
        <div class="col-md-4 news-v3">
            <!--img class="img-responsive full-width" src="assets/img/main/img10.jpg" alt=""-->
             <img class="img-responsive full-width" src="{% static 'home/assets/img/main/3.jpg' %}" alt="">
            <div class="news-v3-in-sm bg-color-light">
                <ul class="list-inline posted-info-sm">
                    <li>By: <a href="#">Alex</a></li>
                    <li>In: <a href="#">Design</a></li>
                    <li>Posted: Jan 24, 2015</li>
                </ul>
                <h2><a href="#">Incredible standard post</a></h2>
                <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed.</p>
                <ul class="post-shares">
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-speech"></i>
                            <span>26</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-share"></i>
                            <span>98</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-heart"></i>
                            <span>30</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 news-v3">
             <img class="img-responsive full-width" src="{% static 'home/assets/img/main/11.jpg' %}" alt="">
            <div class="news-v3-in-sm bg-color-light">
                <ul class="list-inline posted-info-sm">
                    <li>By: <a href="#">Susan</a></li>
                    <li>In: <a href="#">Wordpress</a></li>
                    <li>Posted: Jan 24, 2015</li>
                </ul>
                <h2><a href="#">Imperdiet molesti volutpa</a></h2>
                <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed.</p>
                <ul class="post-shares">
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-speech"></i>
                            <span>26</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-share"></i>
                            <span>98</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-heart"></i>
                            <span>30</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 news-v3">
             <img class="img-responsive full-width" src="{% static 'home/assets/img/main/13.jpg' %}" alt="">
            <div class="news-v3-in-sm bg-color-light">
                <ul class="list-inline posted-info-sm">
                    <li>By: <a href="#">Joe</a></li>
                    <li>In: <a href="#">Unify</a></li>
                    <li>Posted: Jan 24, 2015</li>
                </ul>
                <h2><a href="#">Nullam non metus inmi</a></h2>
                <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed.</p>
                <ul class="post-shares">
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-speech"></i>
                            <span>26</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-share"></i>
                            <span>98</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-heart"></i>
                            <span>30</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End News v3 Gray -->
